{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

	<link type="text/css" rel="stylesheet" href="{{ asset("css/materialize.min.css") }}" media="screen,projection" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}


{% block body %}
<h1>Hello {{ controller_name }}!</h1>
<h2 class="blue">{{ app.environment|upper }} Your lucky number is {{ number|upper }}</h2>
This friendly message is coming from:
<ul>
<li>Your controller at <code><a href="{{ 'src/Controller/DefaultController.php'|file_link(0) }}">src/Controller/DefaultController.php</a></code></li>
<li>Your template at <code><a href="{{ 'templates/default/index.html.twig'|file_link(0) }}">templates/default/index.html.twig</a></code></li>
</ul>
{% endblock %}

{% block javascripts %}
<script src="{{ asset("js/materialize.min.js") }}"></script>
{% endblock %}
